.amount{
    margin: 10px;
    width: 218px;
    height: 58px;
    border: 1px, 0px, 1px, 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 1px solid rgba(221, 221, 221, 1);
}
.amount > p{
    color: rgba(40, 40, 40, 1);
}
.button{
    cursor: pointer;
    width: 58px;
    height: 58px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgba(221, 221, 221, 1);
    font-size: 30px;
    color: rgba(139, 139, 139, 1);
}
.button:hover{
    transition: 0.4s;
    color: rgba(40, 40, 40, 1);
}